aws_region = ""
redshift_username = ""
redshift_password = ""
receiver_bucket_name = ""
manifest_bucket_name = ""
manifest_prefix = ""
failed_manifest_prefix = ""
redshift_database_name = ""
redshift_dns_name = ""
redshift_port = ""
redshift_schema = ""
controlshift_hostname = ""
email_open_firehose_stream = ""
email_click_firehose_stream = ""
